#Copyright (C) 2017 Sony Mobile Communications Inc.
# All rights, including trade secret rights, reserved.
#
# This is script for triggering preloads copying from _other partition.


on property:sys.cppreopt=request_ph2 && property:ro.boot.slot_suffix=_a
    # Add support for preload content on /oem
    mount ext4 /dev/block/bootdevice/by-name/oem_b /postinstall ro nosuid nodev noexec
    exec - system system -- /system/bin/preloads_copy.sh /postinstall
    umount /postinstall
    setprop sys.cppreopt finished
    setprop persist.somc.cust.preloaded_media requested

on property:sys.cppreopt=request_ph2 && property:ro.boot.slot_suffix=_b
    # Add support for preload content on /oem
    mount ext4 /dev/block/bootdevice/by-name/oem_a /postinstall ro nosuid nodev noexec
    exec - system system -- /system/bin/preloads_copy.sh /postinstall
    umount /postinstall
    setprop sys.cppreopt finished
    setprop persist.somc.cust.preloaded_media requested
