# Copyright (C) 2017 Sony Mobile Communications Inc.
# All rights, including trade secret rights, reserved.
#
# This is script for triggering preloads media copying from _other partition.

on property:persist.somc.cust.preloaded_media=requested \
        && property:vold.media_ready=1 && property:ro.boot.slot_suffix=_a
    # Add support for preload media on /system
    mount ext4 /dev/block/bootdevice/by-name/system_b /postinstall ro nosuid nodev noexec
    exec - root media_rw -- /vendor/bin/preloads_media_copy.sh /postinstall
    umount /postinstall
    # Add support for preload media on /oem
    mount ext4 /dev/block/bootdevice/by-name/oem_b /postinstall ro nosuid nodev noexec
    exec - root media_rw -- /vendor/bin/preloads_media_copy.sh /postinstall
    umount /postinstall
    setprop persist.somc.cust.preloaded_media finished

on property:persist.somc.cust.preloaded_media=requested \
        && property:vold.media_ready=1 && property:ro.boot.slot_suffix=_b
    # Add support for preload media on /system
    mount ext4 /dev/block/bootdevice/by-name/system_a /postinstall ro nosuid nodev noexec
    exec - root media_rw -- /vendor/bin/preloads_media_copy.sh /postinstall
    umount /postinstall
    # Add support for preload media on /oem
    mount ext4 /dev/block/bootdevice/by-name/oem_a /postinstall ro nosuid nodev noexec
    exec - root media_rw -- /vendor/bin/preloads_media_copy.sh /postinstall
    umount /postinstall
    setprop persist.somc.cust.preloaded_media finished
