# Copyright (c) 2017 Sony Mobile Communications Inc.
#
# init.sony-qns.rc
#

on post-fs-data
    mkdir /mnt/qns 0750 oem_2985 oem_2985
    mount_all /system/etc/qnovo.fstab
    chown oem_2985 oem_2985 /mnt/qns
    chmod 0750 /mnt/qns
    restorecon_recursive /mnt/qns
    chown oem_2985 oem_2985 /sys/class/qns
    chown oem_2985 oem_2985 /sys/class/qns/alarm
    chown oem_2985 oem_2985 /sys/class/qns/charge_current
    chown oem_2985 oem_2985 /sys/class/qns/charge_voltage
    chown oem_2985 oem_2985 /sys/class/qns/charging_state
    chown oem_2985 oem_2985 /sys/class/qns/current_now
    chown oem_2985 oem_2985 /sys/class/qns/design
    chown oem_2985 oem_2985 /sys/class/qns/fcc
    chown oem_2985 oem_2985 /sys/class/qns/options
    chown oem_2985 oem_2985 /sys/class/qns/soc
    chown oem_2985 oem_2985 /sys/class/qns/temp
    chown oem_2985 oem_2985 /sys/class/qns/voltage
    chown oem_2985 oem_2985 /sys/class/qns/battery_type

on property:ro.cei_mainboard_id=SM12
    start qns_12

on property:ro.cei_mainboard_id=SM22
    start qns_22

service qns_12 /vendor/bin/qns_12 -d /mnt/qns -l /mnt/qns
    user oem_2985
    group oem_2985
    socket qnsbsd stream 660 oem_2985 system
    disabled

service qns_22 /vendor/bin/qns_22 -d /mnt/qns -l /mnt/qns
    user oem_2985
    group oem_2985
    socket qnsbsd stream 660 oem_2985 system
    disabled

